// Colors

// Primary
$color-primary-cyan: hsl(179, 62%, 43%);
$color-primary-cyan-light: hsl(179, 47%, 52%);

$color-primary-yellow: hsl(71, 73%, 54%);

// Neutral
$color-grey-light: hsl(204, 43%, 93%);
$color-grey-blue: hsl(218, 22%, 67%);

$color-white: #fff;
